*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem;

}


div.carousel {
    width: 80%;
    background-color: red;
    height: 500px;
    display: flex;
    position: relative;
    margin: 0 auto;


}

button.prev,
button.next {
    position: absolute;
    
}

img {
    width: 100%;
    height: 100%;
}

button.prev {
    top: 50%;
    left: 0;
}

button.next {
    top: 50%;
    right: 0;
}