*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;

}


div.carousel {
    width: 80%;
   
   height: 500px;
    display: flex;
    position: relative;
    margin: 0 auto;


}

button.prev,
button.next {
    position: absolute;
    
}

div.carousel div.carousel-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: none;
}

button.prev {
    top: 50%;
    left: 0;
}

button.next {
    top: 50%;
    right: 0;
}

div.carousel div.carousel-img img.active {
    display: block;
    

}